<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Botão das 3 barrinhas -->
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logo -->
    <a class="navbar-brand mx-auto" routerLink="/">
      <img src="assets/logo.png" alt="Logo" width="30" height="30">
      Support Nexus
    </a>

    <!-- Foto do usuário (com verificação de currentUser) -->
    <div class="dropdown" *ngIf="authService.isLoggedIn()">
      <a class="nav-link dropdown-toggle" (click)="toggleDropdown()">
        <img [src]="currentUser?.photoUrl || 'assets/default-user.png'" 
             width="30" 
             height="30" 
             class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-end" [class.show]="isDropdownOpen">
        <li><a class="dropdown-item" (click)="openProfileModal()">Editar Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>