
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/assets/scss/variables' as vars;

:root {
  --primary: #{vars.$primary};
  --secondary: #{vars.$secondary};
  --text-light: #{vars.$text-light};
}

/* Estilos globais */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
